.home h2{
    padding-left: 2vw;
}

.moviecard{
    position: relative;
    padding-top: 2vw;
    justify-content: space-between; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5vw;
}

@media screen and (max-width: 850px) {
    .moviecard{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5vw;
    }
  }